# Pandas libraries
#numpy==1.20.1
#pandas==1.2.1
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
# Soup
beautifulsoup4==4.9.3
soupsieve==2.1
bs4==0.0.1
# Requests
requests==2.25.1
# Django
Django==4.2.5
# Deploy
gunicorn==21.2.0
whitenoise==6.5.0
django-cors-headers==4.2.0